<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Author</key>
	<string>Hipsterbrown</string>
	<key>Builder Version</key>
	<string>10600.5.17</string>
	<key>CFBundleDisplayName</key>
	<string>Resource Finder</string>
	<key>CFBundleIdentifier</key>
	<string>com.hipsterbrown.resource-finder</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleShortVersionString</key>
	<string>0.5</string>
	<key>CFBundleVersion</key>
	<string>1</string>
	<key>Chrome</key>
	<dict>
		<key>Database Quota</key>
		<real>5242880</real>
		<key>Popovers</key>
		<array>
			<dict>
				<key>Filename</key>
				<string>index.html</string>
				<key>Identifier</key>
				<string>ResourceFinderPop</string>
			</dict>
		</array>
		<key>Toolbar Items</key>
		<array>
			<dict>
				<key>Identifier</key>
				<string>ButtonDawg</string>
				<key>Image</key>
				<string>icons/Icon 16 Safari Copy.png</string>
				<key>Label</key>
				<string>Resource Finder34</string>
				<key>Palette Label</key>
				<string>Resource Finder34</string>
				<key>Popover</key>
				<string>ResourceFinderPop</string>
				<key>Tool Tip</key>
				<string>Resource Finder34</string>
			</dict>
		</array>
	</dict>
	<key>Content</key>
	<dict>
		<key>Scripts</key>
		<dict/>
	</dict>
	<key>DeveloperIdentifier</key>
	<string>6A8HC26792</string>
	<key>ExtensionInfoDictionaryVersion</key>
	<string>1.0</string>
	<key>Permissions</key>
	<dict>
		<key>Website Access</key>
		<dict/>
	</dict>
</dict>
</plist>
